include ./table-data-full

.section.section--table.section--g-table
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | The Best and Worst States for Low-Income Individuals and Families

    .breadcrumbs__item
      | Full Ranking

  h2.section__title.section__title--table
    | Full Ranking

  p.info-text
    span.semibold Note: 
    | We have established our ranking based upon a total of thirty indicators of small business and startup success. Metropolitan areas were ranked against each other in each, which were calculated as percentiles. Ranks reflect a weighted average of these percentiles, as detailed in our methodology section. Percentile ranks are included here for selected highly important indicators.

  .ranking-table__container
    .ranking-table__hint
      .ranking-table__hint-close-btn
      p.ranking-table__hint-text
        | By default cities are sorted
        br
        | by alphabet. 
        span.semibold
          | You could sort by other parameter.

    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th(class='table-sort' data-index='0') State

        tbody
          each value in values
            tr
              td
                = value.state

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th(class='table-sort' data-index='0') State
            th(class='table-sort' data-index='1') Rank
            th(class='table-sort' data-index='2') Cost Of Living Index
            th(class='table-sort' data-index='3') Median Household Income for Renters
            th(class='table-sort' data-index='4') SNAP Benefits Per Household
            th(class='table-sort' data-index='5') Parents
            th(class='table-sort' data-index='6') Other Adults
            th(class='table-sort' data-index='7') Uninsured Rate
            th(class='table-sort' data-index='8') Unemployment Rate
            th(class='table-sort' data-index='9') Minimum Wage
            th(class='table-sort' data-index='10') Median Rent
            th(class='table-sort' data-index='11') No cash rent
            th(class='table-sort' data-index='12') Applies to Original Creditors

        tbody
          each value in values
            tr
              td
                = value.state

              td
                = value.rank

              td
                = value.costOfLivingIndex

              td
                = value.incomeForRenters

              td
                = value.SNAP

              td
                = value.parents

              td
                = value.otherAdults

              td
                = value.uninsuredRate

              td
                = value.unemploymentRate

              td
                = value.minimumWage

              td
                = value.medianRent

              td
                = value.noCashRent

              td
                = value.originalCreditors

  .btn-container.btn-container--under-table
    a.btn-go-back(href="index.html")
      | GO BACK TO THE FULL REPORT
