.main-block
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports
    .breadcrumbs__item
      | The Best and Worst States for Low-Income Individuals and Families

  .main-block__text
    h1.main-block__title
      | The Best and Worst States for Low-Income Individuals and Families

    p.main-block__text-item
      | RewardExpert analyzed 22 key data metrics to determine which states are the most and least hospitable to low-income individuals and families.

    p.main-block__author
      | RewardExpert

  .main-block__mask
