h2.section__title Methodology
.methodology__content
  img.methodology__img(src='images/svg/methodology-icon.svg')
  .methodology__text
    p.methodology__text-item
      | RewardExpert analyzed state-by-state data for indicators falling into seven broad categories: 1) Federal and state government social programs and assistance, such as SNAP benefits and households, Heating and Energy Assistance, Unemployment insurance, etc.  2) Insurance and Medicaid, 3) Minimum wages and unemployment rates, 4) State laws governing family/medical leave and debt collection practices, 5) Income tax codes and earned-income credits, 6) Housing costs, and 7) income and overall cost of living. Where cost of living index values were available for multiple cities within one state, we calculated a statewide average.

    p.methodology__text-item
      | We then calculated additional figures from these data sets, such as the number of hours required to earn the equivalent of one month’s rent at minimum wage, monthly per-household SNAP benefit amounts, and so forth. In the case of state income taxes, we calculated an “income tax regressivity index,” which measures how fairly lower-income taxpayers are treated under each state’s income tax code.

    p.methodology__text-item
      | Finally, we calculated percentile rankings for each indicator and calculated a final ranking as the average of these values.

a.methodology__sources-link(href="")

.methodology__sources.methodology__sources--indicators
  h3.methodology__sources-title
    | Sources & Indicators:

  ul.methodology__sources-list
    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | SNAP

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 1. 
          a.methodology__sources-link(href="https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap")
            | SNAP Benefits

        li.methodology__sources-sublist-item
          | 2. 
          a.methodology__sources-link(href="https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap")
            | SNAP Households

        li.methodology__sources-sublist-item
          | 3. 
          a.methodology__sources-link(href="https://www.fns.usda.gov/pd/supplemental-nutrition-assistance-program-snap")
            | Year-over-year change

          |  (per household benefits and number of households) (USDA)

    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | Insurance & Medicaid

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 4. 
          a.methodology__sources-link(href="https://www.kff.org/health-reform/state-indicator/state-activity-around-expanding-medicaid-under-the-affordable-care-act/")
            | Medicaid Expansion

          |  (H. J. Kaiser Family Foundation)

        li.methodology__sources-sublist-item
          | 5. 
          a.methodology__sources-link(href="https://www.kff.org/health-reform/state-indicator/medicaid-income-eligibility-limits-for-adults-as-a-percent-of-the-federal-poverty-level")
            | Medicaid Eligibility Levels

          |  (H. J. Kaiser Family Foundation)

        li.methodology__sources-sublist-item
          | 6. 
          a.methodology__sources-link(href="https://www.kff.org/state-category/health-coverage-uninsured/")
            | State Uninsured Rates

          |  (H. J. Kaiser Family Foundation)

        li.methodology__sources-sublist-item
          | 7. 
          a.methodology__sources-link(href="https://data.medicaid.gov/Enrollment/State-Medicaid-and-CHIP-Applications-Eligibility-D/n5ce-jxme/data")
            | Medicaid Eligibility Determinations

          |  (Medicaid.gov)

    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | Wages & Unemployment

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 8. 
          a.methodology__sources-link(href="https://www.bls.gov/web/laus/laumstrk.htm")
            | State Unemployment Rates

          |  (Bureau of Labor Statistics)

        li.methodology__sources-sublist-item
          | 9. 
          a.methodology__sources-link(href="http://www.ncsl.org/research/labor-and-employment/state-minimum-wage-chart.aspx#Table")
            | State Minimum Wage

          |  (National Conference of State Legislatures)

    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | State Law

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 10. 
          a.methodology__sources-link(href="http://www.ncsl.org/research/labor-and-employment/state-family-and-medical-leave-laws.aspx")
            | Family Medical Leave Laws

          |  (National Conference of State Legislatures)

        li.methodology__sources-sublist-item
          | 11. 
          a.methodology__sources-link(href="http://www.ncsl.org/research/labor-and-employment/state-family-and-medical-leave-laws.aspx")
            | Parental School Leave Laws

          |  (National Conference of State Legislatures)

        li.methodology__sources-sublist-item
          | 12. 
          a.methodology__sources-link(href="https://www.bbb.org/financial-building-blocks/collection-laws/")
            | Fair Debt Collection Practices Acts & Exemptions

          |  (BBB)

    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | Income Tax

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 13. 
          a.methodology__sources-link(href="https://taxfoundation.org/state-individual-income-tax-rates-and-brackets-2016/")
            | State Income Tax Rates

          |  (Tax Foundation)

        li.methodology__sources-sublist-item
          | 14. 
          a.methodology__sources-link(href="https://www.cbpp.org/research/state-budget-and-tax/state-earned-income-tax-credits-and-minimum-wages-work-best-together")
            | State Earned Income Tax Credits

          |  (Center on Budget and Policy Priorities)


    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | Cost of Living & Housing Costs

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 15. 
          a.methodology__sources-link(href="https://www.apartmentlist.com/rentonomics/rental-price-data/")
            | One-Bedroom and Two-Bedroom Apartment Median Monthly Rent

          |  (Apartment List)

        li.methodology__sources-sublist-item
          | 16. 
          a.methodology__sources-link(href="https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
            | Cost of Living Index

        li.methodology__sources-sublist-item
          | 17. 
          a.methodology__sources-link(href="")
            | Median Renter-Occupied Household Income

          |  (U.S. Census Bureau - ACS)

        li.methodology__sources-sublist-item
          | 18. 
          a.methodology__sources-link(href="")
            | Percent Not Accepting Cash Rent

          |  (U.S. Census Bureau - ACS)

    li.methodology__sources-list-item
      h4.methodology__sources-list-title
        | Government Benefits

      ul.methodology__sources-sublist
        li.methodology__sources-sublist-item
          | 19. 
          a.methodology__sources-link(href="https://www.acf.hhs.gov/sites/default/files/ocs/fy14_liheap_rtc_final.pdf")
            | LIHEAP assistance & State heating/cooling assistance programs

          |  (U.S. Department of Health and Human Services)

        li.methodology__sources-sublist-item
          | 20. 
          a.methodology__sources-link(href="https://www.ows.doleta.gov/unemploy/DataDownloads.asp")
            | Unemployment Insurance Average Length of Benefits & Average Benefit Amounts

          |  (U.S. Department of Labor)

        li.methodology__sources-sublist-item
          | 21. 
          a.methodology__sources-link(href="https://www.acf.hhs.gov/ofa/resource/tanf-financial-data-fy-2016")
            | Temporary Assistance for Needy Families Benefit Amounts

          |  (U.S. Department of Health and Human Services)

        li.methodology__sources-sublist-item
          | 22. 
          a.methodology__sources-link(href="http://nlihc.org/rental-programs")
            | Rental Assistance & Section 8 Housing Choice Voucher Amounts & State Rental Assistance programs.

          |  (U.S. Department of Housing and Urban Development & National Low-Income Housing Coalition)
