h2.section__title
  | A Note on Method

.notes
  .notes-item
    p.notes-text
      | The way in which state income taxes are structured can vary dramatically from one state to the next. In some states, there is no income tax, in others, income is taxed equally regardless of amount, and in the rest, there exists a wide range in the number of tax brackets, as well as the rates corresponding to each one. In a nutshell, the lower the top tax bracket is set, the less favorable it is to low-income individuals and families.

  .notes-item
    p.notes-text.notes-text--second
      | In order to put a number on how progressive or regressive a state’s income tax is, we have calculated an index based on the difference between the highest and lowest tax rates and brackets, measured by the percentage increase in the tax rate for every thousand dollars in income. For instance, in Alabama, the state with the most regressive income tax, the top tax bracket is set at $3,000 per year for individuals, and $6,000 for married couples, with a corresponding rate of 5 percent. This represents an increase of 0.43 percent for every thousand dollars of income before the highest tax rate applies, after the standard deduction and personal exemption amounts have been factored in.
