include ./table-data-rental
include ./svg-mixins

.section.section--table.section--table-rental
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | The Best and Worst States for Low-Income Individuals and Families

    .breadcrumbs__item
      | State Rental Assistance Programs

  h2.section__title.section__title--table
    | State Rental Assistance Programs

  .ranking-table__container
    .ranking-table__hint
      .ranking-table__hint-close-btn
      p.ranking-table__hint-text
        | By default cities are sorted
        br
        | by alphabet. 
        span.semibold
          | You could sort by other parameter.

    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th(class='table-sort' data-index='0') State

        tbody
          each value in values
            tr
              td
                = value.state

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th(class='table-sort' data-index='0') State
            th Program Name
            th Average Benefit
            th Benefit Duration (months)
            th Eligibility

        tbody
          each value in values
            tr
              td
                = value.state

              td
                if (value.link)
                  a.ranking-table__link(href='#{value.link}')
                    = value.programName

                else
                  = value.programName

              td
                = value.averageBenefit

              td
                = value.benefitDuration

              td
                = value.eligibility

  .map__user-block.map__user-block--table
    .map__btn-wrapper.map__btn-wrapper--share
      button.map__btn.map__btn--share
        span.map__btn-text
          | Share

        +share_svg

      .map__btn-container.map__btn-container--share
        .map__btn-socials
          a.map__btn-socials-item.map__btn-socials-item--fb(href="")
            img.socials-logo(src="images/svg/fb-share.svg")

          a.map__btn-socials-item.map__btn-socials-item--tw(href="")
            img.socials-logo(src="images/svg/tw-share.svg")

          a.map__btn-socials-item.map__btn-socials-item--go(href="")
            img.socials-logo(src="images/svg/go-share.svg")

    .map__btn-wrapper.map__btn-wrapper--embed
      button.map__btn.map__btn--embed
        span.map__btn-text
          | Embed

        +embed_svg

      .map__btn-container.map__btn-container--embed
        .map__btn-embed
          textarea.map__btn-embed-text#copyTarget(autofocus='', readonly='')
            | <iframe src="https://www.rewardexpert.com/shared/low-income/low-income-full-table/" width="1130px" height="2620px" frameborder="0" scrolling="no"></iframe><div style="width:100%;text-align:right;font-size:14px;color:#0a0c0d;margin-bottom:16px;">Source: <a style="color:#2093cd;" href="https://www.rewardexpert.com/blog/studies/the-best-and-worst-states-for-low-income-individuals-and-families/">RewardExpert Blog</a></div>

          button.map__btn-embed-copy#copyButton
            | copy to clipboard

  .btn-container.btn-container--under-table
    a.btn-go-back(href="index.html")
      | GO BACK TO THE FULL REPORT
