-
  var values = [
   {
     state: "US - Average",
     totalBenefits: "$3,583.59",
     stateHeating: "$2,493.09",
     otherAssistance: "$761.83",
     monthlyAverage: "$406.00",
     averageDuration: 23,
     averageWeeklyBenefit: "$344.32",
     housingVoucher: "$7,630.93",
     hud: "$47,300"
   },
   {
     state: "Alabama",
     totalBenefits: "$1,247.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$213.00",
     averageDuration: 24.9,
     averageWeeklyBenefit: "$220.83",
     housingVoucher: "$5,626.26",
     hud: "$39,950"
   },
   {
     state: "Alaska",
     totalBenefits: "$899.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$612.00",
     averageDuration: 21.1,
     averageWeeklyBenefit: "$279.30",
     housingVoucher: "$6,913.04",
     hud: "$59,150"
   },
   {
     state: "Arizona",
     totalBenefits: "$1,868.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$238.00",
     averageDuration: 23.4,
     averageWeeklyBenefit: "$223.92",
     housingVoucher: "$7,296.65",
     hud: "$42,250"
   },
   {
     state: "Arkansas",
     totalBenefits: "$790.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$155.00",
     averageDuration: 19.8,
     averageWeeklyBenefit: "$270.23",
     housingVoucher: "$4,097.09",
     hud: "$37,200"
   },
   {
     state: "California",
     totalBenefits: "$2,497.00",
     stateHeating: "$1,742.00",
     otherAssistance: "$670.00",
     monthlyAverage: "$517.00",
     averageDuration: 23.9,
     averageWeeklyBenefit: "$315.44",
     housingVoucher: "$9,826.48",
     hud: "$50,400"
   },
   {
     state: "Colorado",
     totalBenefits: "$1,308.00",
     stateHeating: "$436.00",
     otherAssistance: "N/A",
     monthlyAverage: "$369.00",
     averageDuration: 22.8,
     averageWeeklyBenefit: "$412.76",
     housingVoucher: "$7,558.92",
     hud: "$53,200"
   },
   {
     state: "Connecticut",
     totalBenefits: "$763.00",
     stateHeating: "N/A",
     otherAssistance: "$773.00",
     monthlyAverage: "$452.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$374.76",
     housingVoucher: "$9,662.01",
     hud: "$59,150"
   },
   {
     state: "Delaware",
     totalBenefits: "$7,682.00",
     stateHeating: "$6,360.00",
     otherAssistance: "N/A",
     monthlyAverage: "$249.00",
     averageDuration: 25.7,
     averageWeeklyBenefit: "$256.99",
     housingVoucher: "$7,522.73",
     hud: "$51,250"
   },
   {
     state: "D.C.",
     totalBenefits: "$3,263.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$308.00",
     averageDuration: 25.7,
     averageWeeklyBenefit: "$311.70",
     housingVoucher: "$12,643.48",
     hud: "$53,400"
   },
   {
     state: "Florida",
     totalBenefits: "$1,267.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$237.00",
     averageDuration: 12.1,
     averageWeeklyBenefit: "$239.06",
     housingVoucher: "$7,893.04",
     hud: "$41,200"
   },
   {
     state: "Georgia",
     totalBenefits: "$680.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$247.00",
     averageDuration: 13.6,
     averageWeeklyBenefit: "$282.67",
     housingVoucher: "$7,222.22",
     hud: "$42,500"
   },
   {
     state: "Hawaii",
     totalBenefits: "$902.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$561.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$457.20",
     housingVoucher: "$10,937.50",
     hud: "$59,150"
   },
   {
     state: "Idaho",
     totalBenefits: "$2,416.00",
     stateHeating: "$1,756.00",
     otherAssistance: "N/A",
     monthlyAverage: "$298.00",
     averageDuration: 21.4,
     averageWeeklyBenefit: "$311.66",
     housingVoucher: "$4,910.45",
     hud: "$41,550"
   },
   {
     state: "Illinois",
     totalBenefits: "$1,222.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$206.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$362.44",
     housingVoucher: "$8,161.62",
     hud: "$51,400"
   },
   {
     state: "Indiana",
     totalBenefits: "$1,069.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$195.00",
     averageDuration: 25.1,
     averageWeeklyBenefit: "$273.92",
     housingVoucher: "$5,205.13",
     hud: "$43,900"
   },
   {
     state: "Iowa",
     totalBenefits: "$1,930.00",
     stateHeating: "$1,109.00",
     otherAssistance: "N/A",
     monthlyAverage: "$313.00",
     averageDuration: 23.1,
     averageWeeklyBenefit: "$382.87",
     housingVoucher: "$4,173.27",
     hud: "$49,250"
   },
   {
     state: "Kansas",
     totalBenefits: "$522.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$256.00",
     averageDuration: 12.1,
     averageWeeklyBenefit: "$370.62",
     housingVoucher: "$5,000.00",
     hud: "$48,000"
   },
   {
     state: "Kentucky",
     totalBenefits: "$470.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$261.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$320.53",
     housingVoucher: "$5,229.24",
     hud: "$40,400"
   },
   {
     state: "Louisiana",
     totalBenefits: "$1,520.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$284.00",
     averageDuration: 25.8,
     averageWeeklyBenefit: "$218.97",
     housingVoucher: "$6,769.07",
     hud: "$41,250"
   },
   {
     state: "Maine",
     totalBenefits: "$1,290.00",
     stateHeating: "$207.00",
     otherAssistance: "N/A",
     monthlyAverage: "$354.00",
     averageDuration: 23.1,
     averageWeeklyBenefit: "$312.77",
     housingVoucher: "$6,347.83",
     hud: "$44,400"
   },
   {
     state: "Maryland",
     totalBenefits: "$7,898.00",
     stateHeating: "$7,317.00",
     otherAssistance: "N/A",
     monthlyAverage: "$510.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$333.53",
     housingVoucher: "$10,730.68",
     hud: "$59,150"
   },
   {
     state: "Massachusetts",
     totalBenefits: "$717.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$466.00",
     averageDuration: 27.1,
     averageWeeklyBenefit: "$487.86",
     housingVoucher: "$9,985.24",
     hud: "$59,150"
   },
   {
     state: "Michigan",
     totalBenefits: "$634.00",
     stateHeating: "N/A",
     otherAssistance: "$1,905.00",
     monthlyAverage: "$325.00",
     averageDuration: 19.8,
     averageWeeklyBenefit: "$306.65",
     housingVoucher: "$5,930.40",
     hud: "$45,000"
   },
   {
     state: "Minnesota",
     totalBenefits: "$2,189.00",
     stateHeating: "$1,099.00",
     otherAssistance: "N/A",
     monthlyAverage: "$387.00",
     averageDuration: 23.4,
     averageWeeklyBenefit: "$433.90",
     housingVoucher: "$6,533.76",
     hud: "$55,500"
   },
   {
     state: "Mississippi",
     totalBenefits: "$1,552.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$138.00",
     averageDuration: 24.3,
     averageWeeklyBenefit: "$205.96",
     housingVoucher: "$5,680.33",
     hud: "$35,200"
   },
   {
     state: "Missouri",
     totalBenefits: "$1,259.00",
     stateHeating: "$519.00",
     otherAssistance: "N/A",
     monthlyAverage: "$218.00",
     averageDuration: 16.1,
     averageWeeklyBenefit: "$253.45",
     housingVoucher: "$5,519.08",
     hud: "$43,400"
   },
   {
     state: "Montana",
     totalBenefits: "$1,672.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$500.00",
     averageDuration: 21.4,
     averageWeeklyBenefit: "$332.85",
     housingVoucher: "$5,148.15",
     hud: "$44,400"
   },
   {
     state: "Nebraska",
     totalBenefits: "$1,894.00",
     stateHeating: "$758.00",
     otherAssistance: "$226.00",
     monthlyAverage: "$357.00",
     averageDuration: 23.7,
     averageWeeklyBenefit: "$316.58",
     housingVoucher: "$5,069.57",
     hud: "$47,900"
   },
   {
     state: "Nevada",
     totalBenefits: "$841.00",
     stateHeating: "N/A",
     otherAssistance: "$258.00",
     monthlyAverage: "$352.00",
     averageDuration: 23.6,
     averageWeeklyBenefit: "$328.62",
     housingVoucher: "$8,668.97",
     hud: "$43,900"
   },
   {
     state: "New Hampshire",
     totalBenefits: "$1,316.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$493.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$311.63",
     housingVoucher: "$7,776.60",
     hud: "$57,400"
   },
   {
     state: "New Jersey",
     totalBenefits: "$1,605.00",
     stateHeating: "$725.00",
     otherAssistance: "N/A",
     monthlyAverage: "$303.00",
     averageDuration: 25,
     averageWeeklyBenefit: "$425.34",
     housingVoucher: "$9,845.69",
     hud: "$59,150"
   },
   {
     state: "New Mexico",
     totalBenefits: "$876.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$322.00",
     averageDuration: 25.3,
     averageWeeklyBenefit: "$338.29",
     housingVoucher: "$5,596.64",
     hud: "$40,300"
   },
   {
     state: "New York",
     totalBenefits: "$3,711.00",
     stateHeating: "$2,072.00",
     otherAssistance: "N/A",
     monthlyAverage: "$575.00",
     averageDuration: 13,
     averageWeeklyBenefit: "$246.65",
     housingVoucher: "$9,805.37",
     hud: "$52,050"
   },
   {
     state: "North Carolina",
     totalBenefits: "$4,526.00",
     stateHeating: "$3,963.00",
     otherAssistance: "N/A",
     monthlyAverage: "$213.00",
     averageDuration: 20.6,
     averageWeeklyBenefit: "$515.14",
     housingVoucher: "$5,429.08",
     hud: "$41,450"
   },
   {
     state: "North Dakota",
     totalBenefits: "$5,206.00",
     stateHeating: "$3,963.00",
     otherAssistance: "N/A",
     monthlyAverage: "$303.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$327.42",
     housingVoucher: "$4,606.06",
     hud: "$54,600"
   },
   {
     state: "Ohio",
     totalBenefits: "$753.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$354.00",
     averageDuration: 25.7,
     averageWeeklyBenefit: "$354.32",
     housingVoucher: "$5,345.69",
     hud: "$45,050"
   },
   {
     state: "Oklahoma",
     totalBenefits: "$619.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$208.00",
     averageDuration: 24.1,
     averageWeeklyBenefit: "$377.56",
     housingVoucher: "$5,059.07",
     hud: "$41,850"
   },
   {
     state: "Oregon",
     totalBenefits: "$3,433.00",
     stateHeating: "$2,710.00",
     otherAssistance: "N/A",
     monthlyAverage: "$441.00",
     averageDuration: 24.8,
     averageWeeklyBenefit: "$366.54",
     housingVoucher: "$5,934.72",
     hud: "$45,650"
   },
   {
     state: "Pennsylvania",
     totalBenefits: "$2,967.00",
     stateHeating: "$2,310.00",
     otherAssistance: "N/A",
     monthlyAverage: "$312.00",
     averageDuration: 25.9,
     averageWeeklyBenefit: "$391.57",
     housingVoucher: "$6,488.28",
     hud: "$49,200"
   },
   {
     state: "Rhode Island",
     totalBenefits: "$6,650.00",
     stateHeating: "$5,000.00",
     otherAssistance: "N/A",
     monthlyAverage: "$419.00",
     averageDuration: 24.2,
     averageWeeklyBenefit: "$343.36",
     housingVoucher: "$7,741.94",
     hud: "$52,900"
   },
   {
     state: "South Carolina",
     totalBenefits: "$2,961.00",
     stateHeating: "$710.00",
     otherAssistance: "N/A",
     monthlyAverage: "$205.00",
     averageDuration: 18.1,
     averageWeeklyBenefit: "$251.95",
     housingVoucher: "$5,514.06",
     hud: "$40,400"
   },
   {
     state: "South Dakota",
     totalBenefits: "$2,895.00",
     stateHeating: "$1,474.00",
     otherAssistance: "N/A",
     monthlyAverage: "$422.00",
     averageDuration: 24,
     averageWeeklyBenefit: "$316.79",
     housingVoucher: "$4,962.96",
     hud: "$40,250"
   },
   {
     state: "Tennessee",
     totalBenefits: "$1,350.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$166.00",
     averageDuration: 24.8,
     averageWeeklyBenefit: "$234.34",
     housingVoucher: "$5,595.38",
     hud: "$40,400"
   },
   {
     state: "Texas",
     totalBenefits: "$1,082.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$315.00",
     averageDuration: 22.3,
     averageWeeklyBenefit: "$403.47",
     housingVoucher: "$6,228.14",
     hud: "$45,200"
   },
   {
     state: "Utah",
     totalBenefits: "$5,359.00",
     stateHeating: "$4,712.00",
     otherAssistance: "N/A",
     monthlyAverage: "$389.00",
     averageDuration: 21.7,
     averageWeeklyBenefit: "$385.44",
     housingVoucher: "$6,296.30",
     hud: "$49,700"
   },
   {
     state: "Vermont",
     totalBenefits: "$932.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$446.00",
     averageDuration: 25.3,
     averageWeeklyBenefit: "$341.35",
     housingVoucher: "$7,295.08",
     hud: "$50,550"
   },
   {
     state: "Virginia",
     totalBenefits: "$911.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$264.00",
     averageDuration: 21.3,
     averageWeeklyBenefit: "$307.16",
     housingVoucher: "$8,017.74",
     hud: "$55,800"
   },
   {
     state: "Washington",
     totalBenefits: "$2,235.00",
     stateHeating: "$1,385.00",
     otherAssistance: "$739.00",
     monthlyAverage: "$405.00",
     averageDuration: 24.7,
     averageWeeklyBenefit: "$441.57",
     housingVoucher: "$7,474.81",
     hud: "$52,800"
   },
   {
     state: "West Virginia",
     totalBenefits: "$493.00",
     stateHeating: "N/A",
     otherAssistance: "N/A",
     monthlyAverage: "$282.00",
     averageDuration: 26,
     averageWeeklyBenefit: "$310.23",
     housingVoucher: "$4,751.82",
     hud: "$38,150"
   },
   {
     state: "Wisconsin",
     totalBenefits: "$5,266.00",
     stateHeating: "$4,514.00",
     otherAssistance: "N/A",
     monthlyAverage: "$382.00",
     averageDuration: 24.6,
     averageWeeklyBenefit: "$311.91",
     housingVoucher: "$5,125.48",
     hud: "$48,450"
   },
   {
     state: "Wyoming",
     totalBenefits: "$3,406.00",
     stateHeating: "$2,500.00",
     otherAssistance: "N/A",
     monthlyAverage: "$433.00",
     averageDuration: 23,
     averageWeeklyBenefit: "$412.17",
     housingVoucher: "$4,833.33",
     hud: "$52,800"
   }
  ]
