-
  var values = [
   {
     state: "Vermont",
     rank: 1,
     costOfLivingIndex: 78.61,
     incomeForRenters: "$32,858",
     SNAP: "$218.97",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "5%",
     unemploymentRate: 2.8,
     minimumWage: "$10.50",
     medianRent: "$1,093.00",
     noCashRent: 6.3,
     originalCreditors: "Yes"
   },
   {
     state: "Rhode Island",
     rank: 2,
     costOfLivingIndex: 71.64,
     incomeForRenters: "$31,519",
     SNAP: "$221.91",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "5%",
     unemploymentRate: 4.5,
     minimumWage: "$10.10",
     medianRent: "$1,050.50",
     noCashRent: 3.4,
     originalCreditors: "No"
   },
   {
     state: "Michigan",
     rank: 3,
     costOfLivingIndex: 67.22,
     incomeForRenters: "$28,598",
     SNAP: "$232.65",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 4.8,
     minimumWage: "$9.25",
     medianRent: "$812.50",
     noCashRent: 5.5,
     originalCreditors: "Yes"
   },
   {
     state: "Kentucky",
     rank: 4,
     costOfLivingIndex: 63.3,
     incomeForRenters: "$26,529",
     SNAP: "$247.94",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 4.1,
     minimumWage: "$7.25",
     medianRent: "$684.50",
     noCashRent: 9.6,
     originalCreditors: "No"
   },
   {
     state: "West Virginia",
     rank: 5,
     costOfLivingIndex: 64.98,
     incomeForRenters: "$24,321",
     SNAP: "$225.05",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "7%",
     unemploymentRate: 5.4,
     minimumWage: "$8.75",
     medianRent: "$662.00",
     noCashRent: 15.7,
     originalCreditors: "Yes"
   },
   {
     state: "New York",
     rank: 6,
     costOfLivingIndex: 80.89,
     incomeForRenters: "$38,983",
     SNAP: "$241.34",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 4.6,
     minimumWage: "$10.40",
     medianRent: "$1,382.00",
     noCashRent: 3.6,
     originalCreditors: "Yes"
   },
   {
     state: "Minnesota",
     rank: 7,
     costOfLivingIndex: 74.79,
     incomeForRenters: "$34,348",
     SNAP: "$212.62",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 3.2,
     minimumWage: "$9.65",
     medianRent: "$951.50",
     noCashRent: 4.5,
     originalCreditors: "No"
   },
   {
     state: "Iowa",
     rank: 8,
     costOfLivingIndex: 64.3,
     incomeForRenters: "$30,828",
     SNAP: "$223.39",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "5%",
     unemploymentRate: 2.9,
     minimumWage: "$7.25",
     medianRent: "$691.50",
     noCashRent: 6.5,
     originalCreditors: "Yes"
   },
   {
     state: "Illinois",
     rank: 9,
     costOfLivingIndex: 73.96,
     incomeForRenters: "$34,488",
     SNAP: "$234.61",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "7%",
     unemploymentRate: 4.7,
     minimumWage: "$8.25",
     medianRent: "$994.00",
     noCashRent: 4.4,
     originalCreditors: "No"
   },
   {
     state: "Ohio",
     rank: 10,
     costOfLivingIndex: 66.65,
     incomeForRenters: "$28,832",
     SNAP: "$242.64",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 4.5,
     minimumWage: "$8.30",
     medianRent: "$746.00",
     noCashRent: 5.2,
     originalCreditors: "No"
   },
   {
     state: "Pennsylvania",
     rank: 11,
     costOfLivingIndex: 75.06,
     incomeForRenters: "$31,605",
     SNAP: "$229.95",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "5%",
     unemploymentRate: 4.8,
     minimumWage: "$7.25",
     medianRent: "$914.00",
     noCashRent: 5.9,
     originalCreditors: "Yes"
   },
   {
     state: "Montana",
     rank: 12,
     costOfLivingIndex: 65.56,
     incomeForRenters: "$30,651",
     SNAP: "$239.89",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "7%",
     unemploymentRate: 4.1,
     minimumWage: "$8.30",
     medianRent: "$699.50",
     noCashRent: 8.8,
     originalCreditors: "No"
   },
   {
     state: "Nevada",
     rank: 13,
     costOfLivingIndex: 65.48,
     incomeForRenters: "$38,963",
     SNAP: "$229.12",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "9%",
     unemploymentRate: 4.9,
     minimumWage: "$8.25",
     medianRent: "$968.50",
     noCashRent: 3.1,
     originalCreditors: "No"
   },
   {
     state: "Arkansas",
     rank: 14,
     costOfLivingIndex: 67.59,
     incomeForRenters: "$26,724",
     SNAP: "$243.80",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "8%",
     unemploymentRate: 3.8,
     minimumWage: "$8.50",
     medianRent: "$643.50",
     noCashRent: 9.8,
     originalCreditors: "No"
   },
   {
     state: "Massachusetts",
     rank: 15,
     costOfLivingIndex: 84.19,
     incomeForRenters: "$39,116",
     SNAP: "$210.94",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 3.5,
     minimumWage: "$11.00",
     medianRent: "$1,432.00",
     noCashRent: 3.4,
     originalCreditors: "Yes"
   },
   {
     state: "New Mexico",
     rank: 16,
     costOfLivingIndex: 65.16,
     incomeForRenters: "$29,282",
     SNAP: "$244.18",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "11%",
     unemploymentRate: 5.8,
     minimumWage: "$7.50",
     medianRent: "$741.50",
     noCashRent: 7.8,
     originalCreditors: "Yes"
   },
   {
     state: "Oregon",
     rank: 17,
     costOfLivingIndex: 73.67,
     incomeForRenters: "$34,215",
     SNAP: "$213.71",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "5%",
     unemploymentRate: 4.1,
     minimumWage: "$10.25",
     medianRent: "$1,104.50",
     noCashRent: 4.3,
     originalCreditors: "Yes"
   },
   {
     state: "California",
     rank: 18,
     costOfLivingIndex: 77.88,
     incomeForRenters: "$43,419",
     SNAP: "$272.33",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "8%",
     unemploymentRate: 4.3,
     minimumWage: "$11.00",
     medianRent: "$1,631.50",
     noCashRent: 3.2,
     originalCreditors: "Yes"
   },
   {
     state: "Wisconsin",
     rank: 19,
     costOfLivingIndex: 67.7,
     incomeForRenters: "$31,736",
     SNAP: "$208.84",
     parents: "100%",
     otherAdults: "100%",
     uninsuredRate: "7%",
     unemploymentRate: 2.9,
     minimumWage: "$7.75",
     medianRent: "$763.50",
     noCashRent: 4.3,
     originalCreditors: "Yes"
   },
   {
     state: "Indiana",
     rank: 20,
     costOfLivingIndex: 77.09,
     incomeForRenters: "$29,285",
     SNAP: "$259.43",
     parents: "139%",
     otherAdults: "139%",
     uninsuredRate: "7%",
     unemploymentRate: 3.2,
     minimumWage: "$7.25",
     medianRent: "$731.00",
     noCashRent: 5.6,
     originalCreditors: "No"
   },
   {
     state: "South Dakota",
     rank: 21,
     costOfLivingIndex: 65.56,
     incomeForRenters: "$30,800",
     SNAP: "$277.22",
     parents: "50%",
     otherAdults: "0%",
     uninsuredRate: "8%",
     unemploymentRate: 3.4,
     minimumWage: "$8.85",
     medianRent: "$642.50",
     noCashRent: 7.8,
     originalCreditors: "No"
   },
   {
     state: "Connecticut",
     rank: 22,
     costOfLivingIndex: 81.82,
     incomeForRenters: "$37,585",
     SNAP: "$228.05",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 4.6,
     minimumWage: "$10.10",
     medianRent: "$1,215.00",
     noCashRent: 4.3,
     originalCreditors: "No"
   },
   {
     state: "Hawaii",
     rank: 23,
     costOfLivingIndex: 92.84,
     incomeForRenters: "$52,188",
     SNAP: "$464.18",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "5%",
     unemploymentRate: 2.1,
     minimumWage: "$10.10",
     medianRent: "$1,710.50",
     noCashRent: 6.7,
     originalCreditors: "Yes"
   },
   {
     state: "North Dakota",
     rank: 24,
     costOfLivingIndex: 65.56,
     incomeForRenters: "$36,149",
     SNAP: "$250.56",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "8%",
     unemploymentRate: 2.6,
     minimumWage: "$7.25",
     medianRent: "$694.00",
     noCashRent: 6.9,
     originalCreditors: "No"
   },
   {
     state: "Arizona",
     rank: 25,
     costOfLivingIndex: 66.45,
     incomeForRenters: "$35,905",
     SNAP: "$257.48",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "12%",
     unemploymentRate: 4.9,
     minimumWage: "$10.50",
     medianRent: "$928.00",
     noCashRent: 4.9,
     originalCreditors: "No"
   },
   {
     state: "Nebraska",
     rank: 26,
     costOfLivingIndex: 65.79,
     incomeForRenters: "$32,466",
     SNAP: "$245.70",
     parents: "63%",
     otherAdults: "0%",
     uninsuredRate: "7%",
     unemploymentRate: 2.8,
     minimumWage: "$9.00",
     medianRent: "$735.00",
     noCashRent: 5.9,
     originalCreditors: "No"
   },
   {
     state: "New Hampshire",
     rank: 27,
     costOfLivingIndex: 68.28,
     incomeForRenters: "$40,305",
     SNAP: "$193.63",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "7%",
     unemploymentRate: 2.6,
     minimumWage: "$7.25",
     medianRent: "$1,149.00",
     noCashRent: 4.2,
     originalCreditors: "Yes"
   },
   {
     state: "Maryland",
     rank: 28,
     costOfLivingIndex: 76.01,
     incomeForRenters: "$47,333",
     SNAP: "$217.28",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "6%",
     unemploymentRate: 4.2,
     minimumWage: "$9.25",
     medianRent: "$1,354.50",
     noCashRent: 3.8,
     originalCreditors: "Yes"
   },
   {
     state: "Colorado",
     rank: 29,
     costOfLivingIndex: 75.52,
     incomeForRenters: "$39,538",
     SNAP: "$257.16",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "10%",
     unemploymentRate: 3,
     minimumWage: "$10.20",
     medianRent: "$1,144.00",
     noCashRent: 3.5,
     originalCreditors: "No"
   },
   {
     state: "Delaware",
     rank: 30,
     costOfLivingIndex: 75.06,
     incomeForRenters: "$38,152",
     SNAP: "$239.49",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "9%",
     unemploymentRate: 4.4,
     minimumWage: "$8.25",
     medianRent: "$1,068.50",
     noCashRent: 5.2,
     originalCreditors: "No"
   },
   {
     state: "Texas",
     rank: 31,
     costOfLivingIndex: 65.74,
     incomeForRenters: "$36,330",
     SNAP: "$271.27",
     parents: "18%",
     otherAdults: "0%",
     uninsuredRate: "15%",
     unemploymentRate: 4,
     minimumWage: "$7.25",
     medianRent: "$935.50",
     noCashRent: 5.3,
     originalCreditors: "Yes"
   },
   {
     state: "Louisiana",
     rank: 32,
     costOfLivingIndex: 74.12,
     incomeForRenters: "$27,113",
     SNAP: "$259.76",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "11%",
     unemploymentRate: 4.5,
     minimumWage: "$7.25",
     medianRent: "$771.50",
     noCashRent: 10.5,
     originalCreditors: "No"
   },
   {
     state: "Maine",
     rank: 33,
     costOfLivingIndex: 76.89,
     incomeForRenters: "$28,066",
     SNAP: "$204.53",
     parents: "105%",
     otherAdults: "0%",
     uninsuredRate: "7%",
     unemploymentRate: 2.9,
     minimumWage: "$10.00",
     medianRent: "$879.00",
     noCashRent: 7.3,
     originalCreditors: "No"
   },
   {
     state: "North Carolina",
     rank: 34,
     costOfLivingIndex: 72.75,
     incomeForRenters: "$31,027",
     SNAP: "$243.06",
     parents: "43%",
     otherAdults: "0%",
     uninsuredRate: "11%",
     unemploymentRate: 4.5,
     minimumWage: "$7.25",
     medianRent: "$810.50",
     noCashRent: 7.1,
     originalCreditors: "Yes"
   },
   {
     state: "Oklahoma",
     rank: 35,
     costOfLivingIndex: 63.98,
     incomeForRenters: "$30,832",
     SNAP: "$255.68",
     parents: "43%",
     otherAdults: "0%",
     uninsuredRate: "11%",
     unemploymentRate: 4.1,
     minimumWage: "$7.25",
     medianRent: "$681.00",
     noCashRent: 8.8,
     originalCreditors: "No"
   },
   {
     state: "Washington",
     rank: 36,
     costOfLivingIndex: 77.53,
     incomeForRenters: "$41,061",
     SNAP: "$213.27",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "7%",
     unemploymentRate: 4.7,
     minimumWage: "$11.50",
     medianRent: "$1,296.50",
     noCashRent: 3.9,
     originalCreditors: "No"
   },
   {
     state: "Idaho",
     rank: 37,
     costOfLivingIndex: 60.89,
     incomeForRenters: "$30,762",
     SNAP: "$239.28",
     parents: "26%",
     otherAdults: "0%",
     uninsuredRate: "9%",
     unemploymentRate: 3,
     minimumWage: "$7.25",
     medianRent: "$730.50",
     noCashRent: 7.2,
     originalCreditors: "No"
   },
   {
     state: "Tennessee",
     rank: 38,
     costOfLivingIndex: 66.46,
     incomeForRenters: "$28,937",
     SNAP: "$246.89",
     parents: "98%",
     otherAdults: "0%",
     uninsuredRate: "11%",
     unemploymentRate: 3.4,
     minimumWage: "$7.25",
     medianRent: "$767.00",
     noCashRent: 8.1,
     originalCreditors: "No"
   },
   {
     state: "New Jersey",
     rank: 39,
     costOfLivingIndex: 73.43,
     incomeForRenters: "$42,169",
     SNAP: "$216.78",
     parents: "138%",
     otherAdults: "138%",
     uninsuredRate: "8%",
     unemploymentRate: 4.6,
     minimumWage: "$8.60",
     medianRent: "$1,377.50",
     noCashRent: 3.4,
     originalCreditors: "No"
   },
   {
     state: "South Carolina",
     rank: 40,
     costOfLivingIndex: 77.73,
     incomeForRenters: "$29,505",
     SNAP: "$255.53",
     parents: "67%",
     otherAdults: "0%",
     uninsuredRate: "9%",
     unemploymentRate: 4.4,
     minimumWage: "$7.25",
     medianRent: "$839.00",
     noCashRent: 9.2,
     originalCreditors: "Yes"
   },
   {
     state: "Alaska",
     rank: 41,
     costOfLivingIndex: 93.44,
     incomeForRenters: "$51,397",
     SNAP: "$361.51",
     parents: "139%",
     otherAdults: "138%",
     uninsuredRate: "14%",
     unemploymentRate: 7.3,
     minimumWage: "$9.84",
     medianRent: "$1,059.50",
     noCashRent: 7.9,
     originalCreditors: "No"
   },
   {
     state: "Missouri",
     rank: 42,
     costOfLivingIndex: 67.3,
     incomeForRenters: "$30,016",
     SNAP: "$257.23",
     parents: "22%",
     otherAdults: "0%",
     uninsuredRate: "8%",
     unemploymentRate: 3.7,
     minimumWage: "$7.85",
     medianRent: "$752.00",
     noCashRent: 6.4,
     originalCreditors: "No"
   },
   {
     state: "Florida",
     rank: 43,
     costOfLivingIndex: 73.25,
     incomeForRenters: "$34,622",
     SNAP: "$221.05",
     parents: "33%",
     otherAdults: "0%",
     uninsuredRate: "12%",
     unemploymentRate: 3.9,
     minimumWage: "$8.25",
     medianRent: "$1,075.00",
     noCashRent: 4.7,
     originalCreditors: "Yes"
   },
   {
     state: "Alabama",
     rank: 44,
     costOfLivingIndex: 65.04,
     incomeForRenters: "$25,999",
     SNAP: "$245.35",
     parents: "18%",
     otherAdults: "0%",
     uninsuredRate: "9%",
     unemploymentRate: 3.7,
     minimumWage: "$7.25",
     medianRent: "$720.00",
     noCashRent: 11.2,
     originalCreditors: "No"
   },
   {
     state: "Kansas",
     rank: 45,
     costOfLivingIndex: 68.69,
     incomeForRenters: "$32,780",
     SNAP: "$234.67",
     parents: "38%",
     otherAdults: "0%",
     uninsuredRate: "8%",
     unemploymentRate: 3.4,
     minimumWage: "$7.25",
     medianRent: "$747.00",
     noCashRent: 6,
     originalCreditors: "No"
   },
   {
     state: "Mississippi",
     rank: 46,
     costOfLivingIndex: 65.04,
     incomeForRenters: "$24,844",
     SNAP: "$240.94",
     parents: "27%",
     otherAdults: "0%",
     uninsuredRate: "12%",
     unemploymentRate: 4.5,
     minimumWage: "$7.25",
     medianRent: "$727.50",
     noCashRent: 12.9,
     originalCreditors: "No"
   },
   {
     state: "Utah",
     rank: 47,
     costOfLivingIndex: 64.73,
     incomeForRenters: "$38,196",
     SNAP: "$276.15",
     parents: "60%",
     otherAdults: "0%",
     uninsuredRate: "12%",
     unemploymentRate: 3.1,
     minimumWage: "$7.25",
     medianRent: "$881.00",
     noCashRent: 4.9,
     originalCreditors: "No"
   },
   {
     state: "Wyoming",
     rank: 48,
     costOfLivingIndex: 65.56,
     incomeForRenters: "$37,959",
     SNAP: "$263.04",
     parents: "55%",
     otherAdults: "0%",
     uninsuredRate: "10%",
     unemploymentRate: 4,
     minimumWage: "$7.25",
     medianRent: "$692.50",
     noCashRent: 9.5,
     originalCreditors: "No"
   },
   {
     state: "Georgia",
     rank: 49,
     costOfLivingIndex: 73.65,
     incomeForRenters: "$32,100",
     SNAP: "$257.46",
     parents: "36%",
     otherAdults: "0%",
     uninsuredRate: "12%",
     unemploymentRate: 4.5,
     minimumWage: "$7.25",
     medianRent: "$933.50",
     noCashRent: 5.9,
     originalCreditors: "No"
   },
   {
     state: "Virginia",
     rank: 50,
     costOfLivingIndex: 73.73,
     incomeForRenters: "$42,481",
     SNAP: "$247.28",
     parents: "38%",
     otherAdults: "0%",
     uninsuredRate: "10%",
     unemploymentRate: 3.5,
     minimumWage: "$7.25",
     medianRent: "$1,127.00",
     noCashRent: 5.4,
     originalCreditors: "No"
   },
   {
     state: "District of Columbia",
     rank: 51,
     costOfLivingIndex: 88.67,
     incomeForRenters: "$49,113",
     SNAP: "$230.27",
     parents: "221%",
     otherAdults: "215%",
     uninsuredRate: "5%",
     unemploymentRate: 5.7,
     minimumWage: "$12.50",
     medianRent: "$1,566.00",
     noCashRent: 3,
     originalCreditors: "Yes"
   }
  ]
