h2.section__title
  | Tips for Paying Off Debt

.tips__upper-text
  .tips__icon
    img(src="images/svg/icon_cards.svg")

  p.main-text
    | If you need a little help paying off outstanding debt or making a big purchase, there’s good news. There are a number of 
    a(href="https://www.rewardexpert.com/credit-cards/categories/best-0-interest-credit-cards") credit cards that offer interest-free financing
    |  for purchases and balance transfers. With these cards, new members get an introductory period of up 21 months of 0% APR, giving you an opportunity to pay down some debt without incurring any additional interest charges.

.tips__items
  .tips__item
    .tips__item-title.tips__item-title--dining
      | Transfer Your High-Interest Debt

    .tips__item-text
      | If you have an outstanding balance on a high-interest credit card, you could save hundreds or even thousands of dollars by getting a new 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/categories/best-balance-transfer-credit-cards") card that offers a 0% intro APR period for balance transfers
      | . These cards will give you a little breathing room to pay off some or all of that debt without additional interest charges.

    .tips__item-text
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-diamond-preferred-card") The Citi Diamond Preferred
      |  is one of the best cards available for balance transfers because it offers 0% APR for 21 months. That’s the longest introductory interest-free period you’re going to find. You’ll have nearly two years with no interest.

    .tips__item-text
      | While you will have to pay a transfer fee of $5 or 5 percent, whichever is greater, that’s typical for these types of cards. Not only that, but that fee is a drop in the bucket compared to how much you can save in interest over 21 months.

  .tips__item
    .tips__item-title.tips__item-title--entertainment
      | Finance a Big Purchase

    .tips__item-text
      | Have you been putting off the purchase of a big ticket item because you don’t have enough cash? One great way to buy that item now and pay it off over time is by getting the right credit card. There are a number of cards on the market that offer promotional interest-free financing periods for new purchases.

    .tips__item-text
      | Citi happens to also offer one of the best cards for balance transfers, too. The 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-simplicity-card") Citi Simplicity
      |  card gives you 18 months of 0% APR on both purchases and balance transfers. This card gives you over a year to pay off a big purchase without paying anything extra.

  .tips__item
    .tips__item-title.tips__item-title--supermarkets
      | Earn a Little Cash Back, Too

    .tips__item-text
      | Perhaps the best cards that offer promotional 0% APR periods are those that also reward you. That’s right, you can earn cash back while also enjoying interest-free financing.

    .tips__item-text
      | The 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/discover-it-18-month-balance-transfer-offer") Discover it
      |  card is one of those credit cards. Not only will you get 14 months of interest-free financing for both purchases and balance transfers, but you’ll earn up to 5 percent cash back at the same time.

    .tips__item-text
      | This card offers 5 percent back in 
      a.tips__item-text-link(href="https://www.rewardexpert.com/blog/discovers-5-cashback-calendar/") bonus categories
      |  that rotate every quarter. They typically include popular retailers and categories, such as wholesale clubs, gas stations, restaurants, grocery stores and Amazon. You’ll get 1 percent back for all other purchases.

    .tips__item-text
      | More than that, Discover will match every penny you earn in cash back during your first year as a cardholder. That means you’ll get a phenomenal 10 percent for bonus purchases and 2 percent for everything else.

  .tips__item
    .tips__item-title.tips__item-title--supermarkets
      | Get the Right Card

    .tips__item-text
      | There are so many credit cards that offer a promotional 0% APR period that there’s sure to be one to fit your needs. If you have any questions, or if you need some more card recommendations, check out RewardExpert’s 
      a.tips__item-text-link(href="https://www.rewardexpert.com/blog/interest-free-credit-cards-a-complete-guide-to-the-best-cards/") guide to interest-free cards
      | .
