include ./svg-mixins

.upper__content
  .upper__pic
    +main_icon_svg

  .upper__text
    p.upper__text-under-title.upper__text-under-title--first
      | Living in poverty is never easy, whether you have a family to support or not. But the experience is not the same everywhere: state-level political and policy decisions make life particularly difficult for low-income individuals and families in some states and work to ameliorate the worst impacts of poverty in others. Likewise, there is significant variability in housing prices and overall cost of living across state lines. The end result is that families and individuals of comparable means face very different challenges, under different conditions, from state to state.

    p.upper__text
      | The upshot of all of this is that, should the opportunity present itself, low-income citizens who are seeking better opportunities can make an informed decision on moving to a state where wages, prices, and policies make it easier to get by and, potentially, to get out of poverty.

    p.upper__text
      | In order to determine which states make life on a limited income the least difficult, RewardExpert analyzed data sets including a total of 22 key indicators in seven categories. These data include measures of 1) income and cost of living, 2) SNAP benefits and other federal and state assistance programs, 3) Insurance and medicaid eligibility, 4) State income taxes and Earned Income Tax Credits, 5) Unemployment and minimum wages, 6) Housing/rent prices, and 7) Debt collection and family leave laws.
