-
  var top = {
    title: 'The Top Ten States for Low-Income Individuals & Families',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Vermont',
        state: null,
        text: 'First on our list of the best states for low-income families and individuals is Vermont, which like many states in our top ten has a strong Fair Debt Collection Practices Act that applies not only to collection agencies, but also to original creditors. It also has state laws that protect employees who must care for a sick family member or need to leave work to attend any manner of school related activities or attend to emergencies involving a dependent child. The state minimum wage of $10.50 is well above the federal minimum and is indexed to inflation. While median monthly rents in Vermont are slightly above the national average, at $966 for a one-bedroom apartment and $1,260 for a two-bedroom, this amounts to approximately one-third of the statewide median income for those who rent, making housing relatively affordable.'
      },
      {
        rankNum: 2,
        place: 'Rhode Island',
        state: null,
        text: 'Second-place Rhode Island comes in slightly behind Vermont, largely on account of its slightly lower minimum wage of $10.10 and its lack of a strong state Fair Debt Collection Practices Act. On the other hand, the overall cost of living index is lower in Rhode Island than in Vermont, and its income tax is somewhat more progressive, offering a larger standard deduction of $8,300 for individuals and $16,600 for married couples. Additionally, while rents are comparable to the national average, a whopping 96.6 percent of landlords accept cash rent. Otherwise, Rhode Island and Vermont are broadly comparable, both offering an Earned Income Tax Credit that boosts low-income taxpayers’ incomes, and setting their Medicaid eligibility income level at 138 percent of the federal poverty line for both individuals and families.'
      },
      {
        rankNum: 3,
        place: 'New York',
        state: null,
        text: 'With its high cost of living, and especially its high housing prices, it might surprise some that New York comes in as the third most hospitable state for low-income residents. There are several good reasons why this is the case. In the first place, New York has a very progressive tax code, with a top tax rate that applies only to literal millionaires, a low four percent state income tax that applies to low-income residents, plus an Earned Income credit in the amount of 30 percent of the Federal EITC. The state minimum wage of $10.40 per hour is well above the national average, which makes it easier to afford rents that are also above the national average (but which are presumably lower than the statewide median outside of the New York City metropolitan area). In addition, an above average 96.4 percent of apartment rents can be paid using cash. Family medical leave is legally mandated, and the state’s Fair Debt Collection Practices Act not only applies to original creditors, but shields all but 90 percent of a debtor’s wages from creditors.'
      },
      {
        rankNum: 4,
        place: 'Michigan',
        state: null,
        text: 'Michigan takes fourth place on our list by virtue of its relatively low cost of living, coupled with an above average minimum wage of $9.25 per hour that will become indexed to inflation as of 2019. At minimum wage, it takes 17.99 hours per week to cover the median rent for a one-bedroom apartment, or 23.01 hours per week for a two-bedroom. Like both Vermont and Rhode Island, Michigan is a state that expanded access to Medicaid under the Affordable Care Act (ACA), and like Vermont, Michigan’s Fair Debt Collection Practices Act applies to original creditors.'
      },
      {
        rankNum: 5,
        place: 'Illinois',
        state: null,
        text: 'Illinois comes in at number five on our list of the best states for low-income individuals and families for several reasons. Although the minimum wage in Illinois of $8.25 per hour is only $1.00 higher than the federal minimum of $7.25 per hour, this goes further here than in states with higher median monthly rents. Even the statewide average for Illinois, which includes Chicago and its affluent suburbs is below the national average ($904 per month for one-bedroom apartments, versus $940, and $1,084 per month, versus $1,166). The situation of low-income Illinoisans is made more secure than in other states by a relatively strong Fair Debt Collection Practices Act, which, though it doesn’t apply to original creditors, does shield 85 percent of wages and up to $2,000 of one’s bank account.'
      },
      {
        rankNum: 6,
        place: 'Massachusetts',
        state: null,
        text: 'Massachusetts takes its place at number six on the strength of its extensive and generous social programs and unemployment insurance. Workers in Massachusetts receive unemployment benefits for a longer period than anywhere else, with benefits extending 27 weeks on average, with an average weekly payment of $487.86. Low-income Massachusetts residents receive the third largest Low-Income Heating and Energy Program (LIHEAP) benefit amounts ($717) to help keep their homes warm in the winter months and cool during the summer. Finally, housing-insecure Massachusetts residents may be eligible for one of three state-funded rent assistance programs, HomeBASE, the Massachusetts Rental Voucher Program, or Rental Assistance for Families in Transition (RAFT).'
      },
      {
        rankNum: 7,
        place: 'Minnesota',
        state: null,
        text: 'Minnesota graces our list at seventh place for a number of reasons, including a low rate of unemployment (4.5 percent) and a relatively low cost of living index (74.785), in combination with a high minimum wage ($9.65 per hour), a progressive tax code with an Earned Income Tax Credit, and strong legal protections for employees with family medical or school obligations. Despite being a Medicaid expansion state, it appears that even employers that pay comparably low wages, or have a large part-time workforce offer health benefits at a higher rate than elsewhere, with 55 percent of state residents obtaining insurance through their employers, versus 14 percent with Medicaid and 15 percent with Medicare.'
      },
      {
        rankNum: 8,
        place: 'Nevada',
        state: null,
        text: 'Nevada comes in at eighth place due to a combination of several factors. In the first place, Nevada has a cost of living index value that falls in the bottom quintile across the country (18.75th percentile). By contrast, Nevada places in the top quintile for the total dollar value of benefits available to assist low-income residents, such as LIHEAP benefits averaging $462 for heating during the winter and $379 for cooling during the summer, and a state supplementary benefit of $258.  Additionally, Nevada’s Low-Income Housing Trust Fund provides rental assistance for residents making less than 60 percent of the area median income, and this assistance is available for up to four years per household. Finally, Nevada takes first place for the number of rental properties for which cash payments are accepted; only 3.1 percent do not.'
      },
      {
        rankNum: 9,
        place: 'Montana',
        state: null,
        text: 'Montana ranks ninth on our list of the best places for low-income individuals and families for its combination of a low cost of living, inexpensive rents, and a minimum wage that is above the federal minimum, at $8.30 per hour, which is set to automatically increase to keep pace with inflation. Like many other states in our top ten, Montana provides a small earned income tax credit in its state income tax code, providing a small boost to low-income taxpayers’ incomes. Low-income individuals and families have an easier time finding affordable housing in Montana, with low median rents for both one-bedroom and two-bedroom apartments, which are $616 per month and $783 per month, respectively.'
      },
      {
        rankNum: 10,
        place: 'Kentucky',
        state: null,
        text: 'Tenth-place Kentucky is known for having a large proportion of low-income residents, but it might come as something of a surprise that it is a comparably good state in which to be socioeconomically disadvantaged. The statewide average cost of living index of 63.3 is the lowest in the nation, which makes the average of $247.98 per month in SNAP benefits per household go further. Median monthly rental prices are well below average, with median rent for a one-bedroom apartment only $604 per month, lower than all but five other states. Kentucky is a Medicaid expansion state, so low-income individuals and families are eligible for Medicaid if their incomes are below 138% of the federal poverty line.'
      },

    ],
    iframe: null,
    frameID: 'iframe-top',
    tapBtn: false,
    tableURL: 'low-income-full'
  };

  var bottom = {
    title: 'The Bottom Ten States for Low-Income Individuals & Families',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Georgia',
        state: null,
        text: 'The state that is worst for its low-income residents is Georgia. Low-income families and individuals residing in Georgia have a tough time making ends meet, and little in the way of assistance or protection. The income cutoff for Medicaid in Georgia is even lower than in Virginia, with families qualifying for Medicaid only below 36 percent of the federal poverty line and non-disabled individuals without children not qualifying at all with any amount of income. While Georgians’ average SNAP benefit is above the national average, at $257.46 per month, the number of qualifying households and the total amount of benefits paid are falling precipitously. The minimum wage in Georgia is no higher than the federal minimum of $7.25, and the state income tax code is more regressive than anywhere but Alabama: while the lowest tax rate is only 1 percent, the top tax rate of 6 percent kicks in well below the poverty line, at $7,000 annual income for individuals and $10,000 for married couples.'
      },
      {
        rankNum: 2,
        place: 'Virginia',
        state: null,
        text: 'Low income families and individuals in Virginia struggle with a relatively high cost of living, especially when it comes to monthly housing costs, and get little in the way of assistance. The minimum wage in Virginia is the same as the federal minimum wage of $7.25 per hour, and the median rent for a one-bedroom apartment is $1,044 per month, which amounts to 33.28 hours per week at minimum wage. As a state that opted not to expand access to Medicaid, non-disabled individuals do not qualify if they have any income at all, while families must make less than 38 percent of the federal poverty line to qualify (less than $7,896 per year). The only bright spots here are a relatively low unemployment rate of 3.5 percent and an earned income tax credit amounting to 20 percent of the federal EITC amount.'
      },
      {
        rankNum: 3,
        place: 'Mississippi',
        state: null,
        text: 'Residents of third-place Mississippi have the lowest median household incomes in the nation and face challenging circumstances, to say the least. Although 24 percent of Mississippians receive health insurance through Medicaid, the state opted not to expand access and eligibility under the ACA. In fact, Mississippi’s Medicaid eligibility threshold is the fifth-lowest in the nation, a mere 27 percent of the federal poverty line for families, while individuals do not qualify if they have any income. As a result, 12 percent of Mississippi residents are uninsured, and those low-income Mississippians who do receive Medicaid struggle to make ends meet, even if they receive SNAP benefits. Adding insult to injury, only 87.1 percent of residents report being allowed to pay their rent in cash, exposing low-income Mississippi residents to further housing insecurity.'
      },
      {
        rankNum: 4,
        place: 'Kansas',
        state: null,
        text: 'Aside from a low cost of living and low median monthly rents, Kansas shows little love for its low-income residents. As with the majority of the worst states for low-income individuals and families, the minimum wage in Kansas is the same as the federal minimum of $7.25 per hour, with a Medicaid eligibility threshold well below what even minimum wage employees earn (38 percent of the federal poverty line for families with children). Likewise, state law does not provide for family medical leave: parents can be fired for simply leaving work to pick up a sick child at school. The only bright spots to be found are a Fair Debt Collection Practices Act that prevents creditors from seizing a debtor’s vehicle (worth up to $20,000) and a state Earned Income Tax Credit of 17 percent of the amount of the Federal EITC.'
      },
      {
        rankNum: 5,
        place: 'Missouri',
        state: null,
        text: 'Fifth-place Missouri presents a mixed picture. Low housing costs (median monthly rent for a two-bedroom apartment in Missouri is $844) make it easier to get by on minimum wage earning, and a below-average cost of living index makes above-average SNAP benefits ($257.23 per month) go further. On the other hand, Missouri’s Medicaid income cutoff is a ridiculously low 22 percent of the federal poverty line, and its income tax code is particularly regressive for married couples, with a top tax rate of 5 percent that kicks in at an absurdly low annual income of $9,000 for individuals and couples alike.'
      },
      {
        rankNum: 6,
        place: 'Alabama',
        state: null,
        text: 'Sixth-place Alabama has the dubious distinction of having the most regressive income tax (with a top tax rate kicking in at incomes as low as $3,000 per year for individual filers and $6,000 for married couples). Alabama has the lowest (tied with Texas) Medicaid income ceiling—18 percent of the federal poverty level for families. While housing costs are among the lowest in the nation, Alabama has the third-lowest rate of rental units for which cash is an acceptable form of payment. Alabama is also quite stingy when it comes to social safety net programs, with average Temporary Assistance for Needy Families and unemployment insurance benefit amounts well below the national average, at $213 per month and $220 per month.'
      },
      {
        rankNum: 7,
        place: 'Wyoming',
        state: null,
        text: 'Wyoming comes in seventh place, primarily as a consequence of its having no state income tax and a relatively low cost of living index (65.56). While rents are below average, with a median asking rent of $606 for a one-bedroom and $779 for a two bedroom apartment, an above average 9.5 percent of apartment rents cannot be paid in cash. Like Georgia, SNAP benefits are above average at $263.04 per household, but are falling fast. Benefits for recipients of social welfare programs in the state are respectable, however, affordable housing is difficult to come by, and residents receive less government assistance than anywhere else (except for Indiana), with Section 8 housing vouchers covering only an average of $4,833 per year per household.'
      },
      {
        rankNum: 8,
        place: 'South Carolina',
        state: null,
        text: 'There is literally only one bright spot for low-income individuals living in South Carolina: the state does have a very strong Fair Debt Collection Practices Act that shields 100 percent of wages and up to $5,000 in liquid assets from debt collections. In all other areas, low-income residents of South Carolina have a rough time of it: the state minimum wage is the same as the federal minimum, and the state’s income tax code is structured to benefit the wealthy. South Carolina is rather stingy about social safety net programs, with unemployment benefits extending on average a mere 18 weeks, and average TANF benefits are $165 per month. Furthermore, South Carolina opted to not expand Medicaid access, but maintains a relatively reasonable eligibility threshold for families with children: a family of three making less than $13,922 would be eligible.'
      },
      {
        rankNum: 9,
        place: 'Florida',
        state: null,
        text: 'Florida also lacks a state income tax, which benefits residents of all income levels. Florida is one of the few states that has seen a net increase in households receiving food assistance through SNAP, although the average benefit amount of $221.05 per month is below the national average of $241.99 per month. And while the Medicaid income cutoff is an abysmal 33 percent of the federal poverty line for families, Florida does have an unusually strong Fair Debt Collection Practices Act that applies to original creditors and shields 100 percent of wages from creditors.'
      },
      {
        rankNum: 10,
        place: 'Tennessee',
        state: null,
        text: 'Rounding out our list at number ten is Tennessee. Like many of the states to grace our bottom ten, one of the only bright spots is a low cost of living and housing costs that are within reach for low-income residents and minimum wage workers. Unfortunately, like many of our bottom ten states, the state does not have a minimum wage above the federal minimum of $7.25 per hour. Again, like many of our bottom ten states, Tennessee is quite stingy when it comes to social program benefits, with TANF recipients in the state receiving an average monthly benefit of only $166. And, while Tennessee does have a state-funded rental assistance program, it is only available for families with children, those at imminent risk of homelessness, or those with mental health issues, and average benefits come out to only $264 per month.'
      },

    ],
    iframe: 'low-income/low-income-map',
    frameID: 'iframe-low-income',
    tapBtn: false,
    tableURL: 'low-income-full'
  };
