@import "virtual/_variable.styl"

.ranking-table__container
  position: relative
  margin-bottom: 24px
  background-image: linear-gradient(-90deg, #EAF2FB 0%, #EAF2FB 100%)
  border-radius: 5px
  padding: 0 1px 1px 1px

.ranking-table__arrow-icon
  position: absolute
  visibility: hidden
  top: 111px
  right: 10px
  +respond-to($medium)
    visibility: visible

.ranking-table__hint
  position: absolute
  top: -75px
  left: 7px
  width: 204px
  box-sizing: border-box
  padding: 12px
  background: $color-white
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.10)
  border-radius: 5px
  cursor: pointer
  z-index: 2
  &:after
    content: ''
    position: absolute
    bottom: -7px
    left: 50%
    transform: translate(-50%)
    width: 0
    height: 0
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    border-top: 7px solid $color-white

  +respond-from($large)
    left: 16px

  +respond-to($medium)
    left: 9px

  +respond-to($small)
    left: 61px

  +respond-to($xsmall)
    left: 10px

.ranking-table__hint-close-btn
  position: absolute
  width: 14px
  height: 14px
  top: 6px
  right: 6px
  cursor: pointer
  &:before
    content: ''
    position: absolute
    top: 6px
    left: 0
    width: 13px
    height: 2px
    background: #9b9b9b
    transform: rotate(45deg)

  &:after
    content: ''
    position: absolute
    top: 6px
    left: 0
    width: 13px
    height: 2px
    background: #9b9b9b
    transform: rotate(-45deg)

.ranking-table__hint-text
  font-size: 12px
  line-height: 18px
  font-weight: 300

.ranking-table
  width: 100%
  border-collapse: collapse
  border-radius: 5px
  border-top: none
  box-sizing: border-box
  background-image: linear-gradient(-90deg, #005ED2 0%, #1B109F 100%)
  thead
    th
      position: relative
      height: 46px
      font-size: 10px
      line-height: 16px
      font-weight: bold
      color: #ffffff
      text-transform: uppercase
      text-align: center
      padding: 0 12px
      box-sizing: border-box
      border-right: 1px solid rgba(255, 255, 255, 0.3)
      user-select: none
      &:last-child
        border-right: none

      +respond-to($small)
        font-size: 9px
        line-height: 12px

      +respond-to($xsmall)
        font-size: 8px
        br
          display: none

    .table-sort
      padding-right: 16px
      +respond-to($small)
        padding-right: 16px

      +respond-to($xsmall)
        padding-right: 16px

      cursor: pointer
      &:before
        content: ''
        position: absolute
        top: calc(50% - 8px)
        right: 4px
        width: 0
        height: 0
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-bottom: 6px solid $color-white
        opacity: 0.7
        // +respond-to($small)
        //   right: 8px

        // +respond-to($xsmall)
        //   right: 6px

      &:after
        content: ''
        position: absolute
        bottom: calc(50% - 8px)
        right: 4px
        width: 0
        height: 0
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 6px solid $color-white
        opacity: 0.7
        // +respond-to($small)
        //   right: 8px

        // +respond-to($xsmall)
        //   right: 6px

    .table-sort--top
      &:before
        opacity: 1

      &:after
        opacity: 0.7

    .table-sort--down
      &:before
        opacity: 0.7

      &:after
        opacity: 1

  tbody
    td
      width: 14.2%
      height: 51px
      font-size: 12px
      line-height: 16px
      font-weight: 600
      color: #0A0C0D
      padding: 0 12px
      box-sizing: border-box
      text-align: center

    tr
      background: #ffffff
      &:nth-child(odd)
        background: #EFF6FF
      &:last-child
        border-bottom: none
        .rate-block
          background: transparent

.ranking-table.ranking-table--fixed
  background-image: linear-gradient(-90deg, #1B109F 0%, #1B109F 100%)

.btn-container
  display: flex
  justify-content: center
  margin-top: 24px

.btn-go-back
  display: inline-block
  color: #1b109f
  border-radius: 5px
  padding: 12px 24px
  font-size: 12px
  line-height: 26px
  font-weight: 600
  text-transform: uppercase
  cursor: pointer
  transition: .25s
  border: 1px solid rgba(27,16,159,.2)
  &:hover
    background: #1b109f
    color: #ffffff
    border-color: #ffffff

.mobile-only
  display: none

+respond-to($medium)
  .section--table
    margin-bottom: 30px
    .breadcrumbs__wrap
      margin-bottom: 30px

    .btn-container
      margin-top: 24px

  .ranking-table__container
    display: flex
    flex-direction: row

  .mobile-only
    width: 120px
    display: flex
    flex-direction: column

  .ranking-table
    thead
      th
        height: 64px
        padding: 0 8px

    tbody
      td
        padding: 0 8px

  .ranking-table.ranking-table--data
    min-width: 610px

  .ranking-table.ranking-table--fixed
    width: 120px
    position: relative
    border-radius: 5px 0 0 0
    border-right: none
    box-shadow: 2px 0 13px 0 rgba(0,0,0,0.16)

    th
      vertical-align: middle

    thead
      position: relative
      &:after
        content: ''
        position: absolute
        width: 1px
        height: 64px
        background: rgba(255, 255, 255, 0.3)
        right: 0
        top: 0

    td
      &:first-child
        width: 2%

  .ranking-table__wrapper
    width: calc(100% - 120px)
    overflow-x: scroll
    padding-left: 0
    padding-right: 0

  .ranking-table--data
    border-radius: 0 5px 5px 5px
    border-left: none
    thead
      th
        &:first-child
          display: none

    tbody
      td
        &:first-child
          display: none

  .section--table-rental,
  .section--table-housing
    .ranking-table__wrapper
      overflow: hidden

+respond-to($small)
  .section--table
    .breadcrumbs__wrap
      white-space: nowrap
      max-width: 100%
      box-sizing border-box

  .section--table-rental,
  .section--table-housing
    .ranking-table__wrapper
      overflow-x: scroll

.section--table-housing
  .ranking-table__hint
    left: 33px
    +respond-from($large)
      left: 46px

    +respond-to($medium)
      left: 10px

    +respond-to($small)
      left: 10px

    +respond-to($xsmall)
      left: 10px

  .ranking-table
    thead
      th
        font-style: inherit

    tbody
      td
        font-style: inherit

.section--table-rental
  .ranking-table__hint
    left: 115px
    +respond-from($large)
      left: 137px

    +respond-to($medium)
      left: 10px

    +respond-to($small)
      left: 10px

    +respond-to($xsmall)
      left: 10px

    +respond-to($xxsmall)
      left: -4px

  .ranking-table__link
    @extend .main-link

  +respond-to($medium)
    .mobile-only
      width: 120px

    .ranking-table.ranking-table--data
      min-width: 1420px

    .ranking-table.ranking-table--fixed
      width: 120px

    .ranking-table__wrapper
      width: calc(100% - 120px)
      overflow-x: scroll

  +respond-to($xxsmall)
    .mobile-only
      width: 107px

    .ranking-table.ranking-table--data
      min-width: 1420px

    .ranking-table.ranking-table--fixed
      width: 107px

    .ranking-table__wrapper
      width: calc(100% - 107px)

    .ranking-table
      tbody
        td
          padding: 0 4px
          font-size: 10px

.btn-container.btn-container--under-table
  margin-top: 45px
  +respond-to($xsmall)
    margin-top: 32px
