doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(inline='', rel='stylesheet', type='text/css', href='style.min.css')
    title State Rental Assistance Programs

  body
    .page__wrap.page__wrap--mob-short
      include ./partials/header.jade

      article.main-article
        .content

          include ./partials/table-rental.jade

      include ./partials/footer.jade

    script(type='text/javascript', src='js/script.min.js')
